@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');


:root {

    --orange: rgb(232, 170, 56);
    --white: #fff;
    --light-color: #666;
    --box-shadow: 0 .1rem 1rem rgba(0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: .1rem solid rgba(0, 0, 0.1);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: black;
}


/* Header Ends */


/* Singup Form Starts */
.container{
    border-radius:20px;
    padding-top: 5px;
    background-color: rgb(217, 192, 192);
    height: 800px; 
    width: 1100px; 
    margin-left:370px;
    margin-top:50px;
    background-image: url("image_smart.jpg");
    position: relative;
    background-size: cover;
    background-position: center; 
    /* opacity: 0.6; */
    overflow: hidden;


   
}



.signup-box{

    width: 400px;
    height: 760px;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    margin-left: 35px;
    margin: 2rem;
}
h1{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

form{
    width: 240px;
    margin-left: 60px;
}
form label{
    display: flex;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 16px;
    margin-left: 10px;
    color: rgb(116, 112, 112);
    

}
form input{
    width: 270px;
    height: 35px;
    padding: 9px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgb(232, 231, 231);

   
}
p{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: rgb(91, 91, 230);
    margin-bottom: 40px;

  
}
p a{
    color: rgb(91, 91, 230);
    text-decoration: none;
}
.button button[type="submit"] {
    width: 150px;
    height: 40px;
    margin:0 auto;
    text-align: center;
    border: none;
    background-color: orange;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;



}

.button button[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active{

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform:scale(1.1);
    color: blue;

}
.input-control input:focus{

    outline: 0;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control.error input{
    border-color: #ff3860;
}
.error{

    color: #ff3860;
    font-size: 15px;
    height: 13px;
}


/* Singup Form Ends */
